.btn {
  margin-top: 1rem;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;

  @include respond(phone) {
    width: 100%;
  }
  &__add {
    background: #e67e22;

    &:hover {
      background: #a16418;
    }
  }

  &__remove {
    background: #e74c3c;
    color: #ecf0f1;
    transition: all 0.2s;

    &:hover {
      background: #c0392b;
    }
  }
  &__cancel {
    transition: all 0.2s;
    &:hover {
      background: #bdc3c7;
    }
  }
  &__allRemove {
    align-self: flex-end;

    background: #e74c3c;


    &:hover{
      background: #c0392b;
    }

  }
}
.btnGroup {
  display: flex;

  @include respond(phone) {
    justify-content: center;
  }

  &__icon {
    //display: block;
    height: 20px;
    width: 20px;
    fill: #e84118;
  }
  &--delete {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    transition: all 0.2s;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background: #2ecc71;
    }

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}
